@use "tailwindcss";

:root {
  font-size: 16px;
}

* {
  font-family: var(--font-exo);
  font-size: 15px;
  line-height: 100%;
  font-weight: 700;
  font-style: italic;
}

.footer-copyright {
  font-family: var(--font-open-sans);
}